{% extends 'base.html' %}
{% block content %}
<div class="container" align="center">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ url_for('admin.index') }}">Dashboard</a></li>
        <li class="breadcrumb-item"><a href="{{ url_for('admin.lihat_kejadian', kejadian_id=kejadian.id) }}">Kejadian</a></li>
        <li class="breadcrumb-item active" aria-current="page">Tambah Desa</li>
      </ol>
    </nav>
  <h1>{{ kejadian.jenis }}, {{ kejadian.get_date_id() }}</h1>
  <br>
  <h3>Tambah Desa yang Terdampak</h3>
  <form method="POST">
    {{ form.csrf_token() }}
    <div class="col-md-10" style="max-height: 300px">
    	<div id="mapdesa" style="border: solid 1px #eee; height: 300px">
      </div>
    </div>
    <div class="form-row">
	    <div class="col-md-12 mb-3" align="left">
				{{ form.desa.label(for="desa") }}
        <select class="form-control selectpicker" data-live-search="true" id="desa" name="desa">
          {% for option in form.desa.choices %}
            {% if option.0 == form.desa.value %}
              <option value="{{ option.0 }}" selected>{{ option.1 }}</option>
            {% else %}
              <option value="{{ option.0 }}">{{ option.1 }}</option>
            {% endif %}
          {% endfor %}
        </select>
				{% for error in form.desa.errors %}
					<div class="invalid-feedback d-block">
						{{ error }}
					</div>
				{% endfor %}
	    </div>
	  </div>
	  <div class="form-row">
	    <div class="col-md-12 mb-3" align="left">
				{{ form.str_wilayah.label(for="str_wilayah") }}
	      {{ form.str_wilayah(class="form-control", id="str_wilayah") }}
				{% for error in form.str_wilayah.errors %}
					<div class="invalid-feedback d-block">
						{{ error }}
					</div>
				{% endfor %}
	    </div>
	  </div>
		<hr>
		<h3>Korban</h3>
		<div class="form-row">
	    <div class="col-md-3 mb-3" align="left">
				{{ form.pengungsi.label(for="pengungsi") }}
	      {{ form.pengungsi(class="form-control", id="pengungsi", type="number") }}
				{% for error in form.pengungsi.errors %}
					<div class="invalid-feedback d-block">
						{{ error }}
					</div>
				{% endfor %}
	    </div>
	    <div class="col-md-3 mb-3" align="left">
				{{ form.hilang.label(for="hilang") }}
	      {{ form.hilang(class="form-control", id="hilang", type="number") }}
				{% for error in form.hilang.errors %}
					<div class="invalid-feedback d-block">
						{{ error }}
					</div>
				{% endfor %}
	    </div>
	    <div class="col-md-3 mb-3" align="left">
				{{ form.luka.label(for="luka") }}
	      {{ form.luka(class="form-control", id="luka", type="number") }}
				{% for error in form.luka.errors %}
					<div class="invalid-feedback d-block">
						{{ error }}
					</div>
				{% endfor %}
	    </div>
      <div class="col-md-3 mb-3" align="left">
				{{ form.md.label(for="md") }}
	      {{ form.md(class="form-control", id="md", type="number") }}
				{% for error in form.md.errors %}
					<div class="invalid-feedback d-block">
						{{ error }}
					</div>
				{% endfor %}
	    </div>
	  </div>
    <hr>
		<h3>Kerusakan</h3>
	  <div class="form-row">
	    <div class="col-md-4 mb-3" align="left">
				{{ form.rumah.label(for="rumah") }}
	      {{ form.rumah(class="form-control", id="rumah", type="number") }}
				{% for error in form.rumah.errors %}
					<div class="invalid-feedback d-block">
						{{ error }}
					</div>
				{% endfor %}
	    </div>
	    <div class="col-md-4 mb-3" align="left">
				{{ form.sekolah.label(for="sekolah") }}
	      {{ form.sekolah(class="form-control", id="sekolah", type="number") }}
				{% for error in form.sekolah.errors %}
					<div class="invalid-feedback d-block">
						{{ error }}
					</div>
				{% endfor %}
	    </div>
	    <div class="col-md-4 mb-3" align="left">
				{{ form.t_ibadah.label(for="t_ibadah") }}
	      {{ form.t_ibadah(class="form-control", id="t_ibadah", type="number") }}
				{% for error in form.t_ibadah.errors %}
					<div class="invalid-feedback d-block">
						{{ error }}
					</div>
				{% endfor %}
	    </div>
	  </div>
    <div>
      {{ form.submit(class="btn btn-outline-primary") }}
      <a class="btn btn-outline-danger" href="{{ url_for('admin.lihat_kejadian', kejadian_id=kejadian.id) }}">Kembali</a>
    </div>
    <hr>
</div>
{% endblock content %}

{% block extra_head %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.min.css">
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css"
   integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
   crossorigin=""/>
  <script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"
   integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og=="
   crossorigin=""></script>

   <style>
     #map {
       width: 800px;
       height: 500px;
     }
     .info {
       padding: 6px 8px;
       font: 14px/16px Arial, Helvetica, sans-serif;
       background: white;
       background: rgba(255,255,255,0.8);
       box-shadow: 0 0 15px rgba(0,0,0,0.2);
       border-radius: 5px;
     }
     .info h6 {
       margin: 0 0 5px;
       color: #777;
     }
     .legend {
       text-align: left;
       line-height: 18px;
       color: #555;
     }
     .legend i {
       width: 18px;
       height: 18px;
       float: left;
       margin-right: 8px;
       opacity: 0.7;
     }

     .boldwrap {
       font-weight: bold;
     }

     .select2-rendered__match {
       background-color: yellow;
       color: black;
     }
   </style>
{% endblock extra_head %}

{% block extra_foot %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>
  <script>
    $(function() {
        $('.selectpicker').selectpicker()
    });
  </script>
  <script>
    "use struct"
  	let mymap = L.map('mapdesa').setView([-7.5099, 111.5], 10)
    L.tileLayer(
      'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
      {
  		    maxZoom: 18,
          id: 'data.streets',
  		    attribution: 'M&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors',
  	   }
    ).addTo(mymap)

    // function to add markers
    function show_location(data){
        // clear all layers firsts
        mymap.eachLayer(
            function(layer) {
                if (!layer._url){
                    mymap.removeLayer(layer)
                }
            }
        )

        // add geojson of the desa to map
        let geojson = L.geoJson(data).addTo(mymap)
        // popup containing desa name
        geojson.bindPopup(`<b>${data.properties.desa}, ${data.properties.kecamatan}, ${data.properties.kabupaten}</b>`).openPopup()
        // zoom to desa
        mymap.fitBounds(geojson.getBounds())
    }

    // check if desa got value
    let desa_id = $('#desa').val()
    if (desa_id){
      console.log(`${desa_id}`)
      fetch(`/api/desa/${desa_id}`) // Call the fetch function passing the url of the API as a parameter
        .then(response => response.json())
        .then(data => show_location(data))
        .catch(e => console.log(`Error found : ${e}`))
    }

    // on value changes
    $("#desa").change(function(){
        let desa_id = $('#desa').val()
        console.log(`Desa ID : ${desa_id}`)
        fetch(`/api/desa/${desa_id}`) // Call the fetch function passing the url of the API as a parameter
          .then(response => response.json())
          .then(data => show_location(data))
          .catch(e => console.log(`Error found : ${e}`))
    })

  </script>
{% endblock extra_foot %}
